<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Pitágoras</title>
</head>
<body>
    <h1>Calculadora de Pitágoras API...Running</h1>

    <h2> Endpoints:</h2>
    <h3> Para o cálculo da hipotenusa:</h3>
    <p>GET: /hipotenusa/{cateto_1}/{cateto_2}</p>
    <p>Descrição:</p>
    <ul>
      <li>cateto_1: Valor do primeiro cateto</li>
      <li>cateto_2: Valor do segundo cateto</li>
    </ul>

    <p>Resposta:</p>
    <ul>
      <li>200: Sucesso!</li>
      <li>400: Erro na Requisição!</li>
      <li>500: Erro na Aplicação!</li>
    </ul>

    <h3>Para o cálculo dos catetos:</h3>
    <p>GET: /cateto/{hipotenusa_entrada}/{cateto_entrada}</p>
    <p>Descrição:</p>
    <ul>
      <li>hipotenusa_entrada: Valor da hipotenusa</li>
      <li>cateto_entrada: Valor do cateto</li>
    </ul>

    <p>Resposta:</p>
    <ul>
      <li>200: Sucesso!</li>
      <li>400: Erro na Requisição!</li>
      <li>500: Erro na Aplicação!</li>
    </ul>

</body>
</html>